@use "../../styles/tokens/heading" as *;

.heading {
  font-family: $typography-font-family;
  color: $colors-default;
  margin-top: 0;
  margin-bottom: $spacing-margin-bottom;
}

.h1 {
  font-size: $typography-font-size-h1;
  font-weight: $typography-font-weight-h1;
  line-height: $typography-line-height-large;
}

.h2 {
  font-size: $typography-font-size-h2;
  font-weight: $typography-font-weight-h2;
  line-height: $typography-line-height-large;
}

.h3 {
  font-size: $typography-font-size-h3;
  font-weight: $typography-font-weight-h3;
  line-height: $typography-line-height-large;
}

.h4 {
  font-size: $typography-font-size-h4;
  font-weight: $typography-font-weight-h4;
  line-height: $typography-line-height-large;
}

.h5 {
  font-size: $typography-font-size-h5;
  font-weight: $typography-font-weight-h5;
  line-height: $typography-line-height-small;
}

.h6 {
  font-size: $typography-font-size-h6;
  font-weight: $typography-font-weight-h6;
  line-height: $typography-line-height-small;
}

// Color variants
.primary {
  color: $colors-primary;
}

.success {
  color: $colors-success;
}

.warning {
  color: $colors-warning;
}

.error {
  color: $colors-error;
}

.info {
  color: $colors-info;
}
